<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
        <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
    </head>
    <body>
        <p>The ninja emerged as mercenaries in the 15th century, where they were recruited as spies, raiders, arsonists and even terrorists. Amongst the samurai, a sense of ritual and decorum was observed, where one was expected to fight or duel openly. Combined with the unrest of the Sengoku era, these factors created a demand for men willing to commit deeds considered disreputable for conventional warriors.</p>
        <a href="dojos.html">dojos</a>
    </body>
</html>